# Ignore external dependencies
rhlc_sensors/

# Ignore build, install, and log directories
/build/
/install/
/log/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore IDE/editor-specific files
.vscode/
.idea/
.fake/
*.pt
